language: go

service:
  - docker

go:
  - 1.x

before_install:
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.47.2

script:
  - golangci-lint run
  - docker build -t sylph4/pipedrive-challenge .
